.main-panel__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-panel__main {
  margin-right: 120px;
}

.main-panel__header {
  display: flex;
  justify-content: space-between;
}

.main-panel__header--input {
  padding: 3px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  &:focus {
    box-shadow: 0 0 5px 3px rgba(21, 14, 39, 0.05);
  }
}

.main-panel__title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 50px;
}

.main-panel__top, .main-panel__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  section {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 20px 0 0;
  }
}