.main-panel__container {
  height: auto;
  position: relative;
  width: 100%;
}

.main-panel__main {
  height: auto;
  margin-right: 120px;
  max-width: 1000px;
  place-self: center;
}

@media (max-width: 600px) {
  .main-panel__main {
    margin-right: 10px;
    padding-bottom: 100px;
  }
}

.main-panel__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-panel__header--input {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 3px 10px;
  &:focus {
    box-shadow: 0 0 5px 3px rgba(21, 14, 39, 0.05);
  }
}

.main-panel__title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 50px;
  span {
    font-weight: 600;
  }
}

.main-panel__top, .main-panel__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  section {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 20px;
  }
}

.agenda-panel--container {
  height: 300px;
  overflow-y: scroll;
}

//AgendaPanel
.agenda__table--table {
  border-collapse: collapse;
  font-size: .6rem;
  margin: 10px auto;
  width: 100%;
}

.agenda__table--columns {
  td {
    border:1px solid rgba(0, 0, 0, 0.158);
    padding: 5px 12px;
  }
}

//Plan Panel

.agenda-panel--planer {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  text-align: left;
}

.plan-panel__card {
  display: flex;
}

.plan-panel__card--total {
  align-items: center;
  background: linear-gradient(-360deg, rgba(173,132,238,1) 0%, rgba(134,183,252,1) 100%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 5px;
  padding: 5px;
  position: relative;
  width: 80px;
}

.plan-panel__card--total::after {
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color:  blueviolet;
  content: "30";
  display: flex;
  font-size: 1.5rem;
  height: 60px;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  z-index: 10;
}

.plan-panel__card--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    align-items: center;
    justify-content: space-between;
    max-width: 40px;
  }
  span {
    margin-right: 3px;
  }
  small {
    font-weight: 600;
  }
}

//CallsPanel

.calls-panel__goals {
  div {
    margin: 10px;
    small {
      font-weight: bold;
    }
  }
}

.call-panel__indicator--container {
  display: inline-block;
}

.call-panel__indicator {
  align-items: center;
  border: 7px solid #eee;
  border-top: 7px solid #FF967D;
  border-left: 7px solid #FF967D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 90px;
  width: 90px;
}

//GoalTeam

.goal-team__label {
  display: flex;
  justify-content: space-between;
  small {
    font-weight: 600;
  }
}