.main-panel__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-panel__main {
  margin-right: 120px;
}



.main-panel__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .main-panel__main {
    margin-right: 10px;
  }
}

.main-panel__header--input {
  padding: 3px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  &:focus {
    box-shadow: 0 0 5px 3px rgba(21, 14, 39, 0.05);
  }
}

.main-panel__title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 50px;
  span {
    font-weight: 600;
  }
}

.main-panel__top, .main-panel__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  section {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 20px 0 0;
  }
}

.agenda-panel--container {
  height: 300px;
  overflow-y: scroll;
}

//AgendaPanel
.agenda__table--table {
  border-collapse: collapse;
  margin: 10px auto;
  width: 100%;
  font-size: .6rem;
}

.agenda__table--columns {
  td {
    padding: 5px 12px;
    border:1px solid rgba(0, 0, 0, 0.158);
  }
}

//Plan Panel

.plan-panel__card {
  display: flex;
}

.plan-panel__card--total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(-360deg, rgba(173,132,238,1) 0%, rgba(134,183,252,1) 100%);
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.plan-panel__card--total::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "30";
  top: 10px;
  left: 10px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
  color:  blueviolet;
}

.plan-panel__card--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    max-width: 40px;
    align-items: center;
    justify-content: space-between;
  }
  span {
    margin-right: 3px;
  }
}