.side-menu__container {
  align-items: center;
  background-color: $main-color-dark;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-width: 60px;
  position: fixed;
  padding: 15px;
}

.side-menu__container--nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  a {
    cursor: pointer;
    padding: 10px;
    transition: .5s;
    img {
      width: 20px;
    }
  }
  a:hover {
    background-color:$secondary-color;
  }
}

.side-menu__container--bottom {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  a {
    padding: 10px;
    transition: .5s;
  }
  a:hover {
    background-color: $secondary-color;
  }
  a img {
    width: 20px;
  }

  .side-menu__container--bottom-emp {
    border-radius: 50%;
    margin-top: 15px;
    width: 30px;
  }
}

.side-menu__container--logo {
  transition: .5s;
  width: 40px;
  &:hover {
    transform: scale(1.1);
  }
}