$main-color-dark: #2B2D42;
$main-color-clear: #F4F8FB;
$secondary-color: #F16623;

.text-center {
  text-align: center;
}

.container {
  background-color: $main-color-clear;
  border-radius: 30px 0 0 30px;
  height: 100%;
  width: 100%;
  padding: 50px;
  padding-right: 0;
}